In [12]:
import pandas as pd
import numpy as np

In [14]:
movies = pd.read_csv('movies.csv',index_col=0)
movies.head()

                             title
id
862                      Toy Story
8844                       Jumanji
15602             Grumpier Old Men
31357            Waiting to Exhale
11862  Father of the Bride Part II

In [17]:
ratings = pd.read_csv('ratings_shorter.csv',usecols=[1,2,3])
ratings.head()

   userId  movieId  rating
0       1      147     4.5
1       1     1221     5.0
2       1     1246     5.0
3       1    91542     5.0
4       2     1552     2.0