https://www.kaggle.com/rounakbanik/the-movies-dataset

In [20]:
import pandas as pd
import numpy as np

In [21]:
movies = pd.read_csv('movies.csv',index_col=0)
movies.head()

                             title
id
862                      Toy Story
8844                       Jumanji
15602             Grumpier Old Men
31357            Waiting to Exhale
11862  Father of the Bride Part II

In [22]:
ratings = pd.read_csv('ratings_shorter.csv',usecols=[1,2,3])
ratings.columns = ['user','id','rating']
ratings.head()

   user     id  rating
0     1    147     4.5
1     1   1221     5.0
2     1   1246     5.0
3     1  91542     5.0
4     2   1552     2.0

In [23]:
ratings = ratings.merge(movies,on='id').drop('id',axis=1)

In [24]:
ratings.head()

   user  rating          title
0     1     4.5  The 400 Blows
1   777     3.0  The 400 Blows
2  1784     2.5  The 400 Blows
3  1856     3.5  The 400 Blows
4  3019     4.0  The 400 Blows

In [25]:
table = pd.pivot_table(ratings,index='user',columns='title')

In [26]:
table.count(axis=1).sort_values(ascending=False).head(10)

user
8659      237
179792    219
45811     183
107720    168
270123    167
98415     164
243443    161
165352    160
229879    159
186059    156
dtype: int64

In [27]:
# precalculate some relevant data
process = pd.DataFrame(index=table.index)
process['count'] = table.count(axis=1)
process['length'] = np.sqrt((table.fillna(0)**2).sum(axis=1))
process

        count     length
user
1           2   6.726812
2           1   2.000000
3           1   2.000000
4           1   4.000000
5           2   6.403124
6           1   3.000000
7           6   9.420722
8           5   6.082763
9           1   2.500000
11          8  11.258330
12         14  13.490738
13          1   3.500000
14          1   2.500000
15         15  15.280707
16          9  13.555442
17          1   2.000000
18          1   5.000000
19          1   2.500000
20          6  10.246951
21          1   4.500000
22          1   5.000000
23          1   4.000000
24         42  23.000000
25          2   4.242641
27          5   6.538348
29          6   8.944272
30          5   8.774964
32          1   5.000000
33          2   6.403124
34         16  16.271140
...       ...        ...
270857      7   8.500000
270859     12  10.185774
270860      6   8.660254
270861      2   4.472136
270863      3   8.124038
270866      2   4.242641
270867      2   6.403124
270868      4   9.287088
270869      4   5.477226
270870      1   4.000000
270871      9  10.931606
270872     10  12.806248
270873      1   2.000000
270875      3   6.041523
270877      5   7.681146
270878      2   4.301163
270879     23  14.115594
270880      1   5.000000
270881      2   6.103278
270883      1   4.000000
270884      1   5.000000
270885      7  10.523783
270887     55  30.024990
270890      2   5.000000
270891      4   8.246211
270892      2   3.905125
270893      5   7.810250
270894      5   5.024938
270895      2   5.656854
270896     13  14.008926

[194403 rows x 2 columns]

In [28]:
((table.loc[8659].fillna(0) * table.loc[179792].fillna(0))>0).sum()

18

In [29]:
(table.loc[8659].fillna(0) * table.loc[179792].fillna(0)).sum()

210.25

In [30]:
table.values.shape[1]

3008

In [28]:
# user based - find similar people and suggest what they liked

In [3]:
# item based - find correlations in the ratings data and suggest based on that