# Splitting a dataset into train and test sets

### And optionally validation set

In [6]:
import numpy as np
import pandas as pd
import random

from split_dataset import split_dataset

** dummy dataset **

In [7]:
size = 1000

x = np.random.normal(size=size)
y = x*3

df = pd.DataFrame(np.hstack((x[:,None],y[:,None])))
df.head()

          0         1
0  0.309433  0.928299
1 -0.394310 -1.182930
2 -0.101142 -0.303427
3  0.412830  1.238489
4  0.831721  2.495162

** Split data into train / test **

In [8]:
a,b,c,d = split_dataset(x,y,test_ratio=0.25)
len(a),len(b),len(c),len(d)

(750, 750, 250, 250)

** train / test / validation **

In [9]:
a,b,c,d,e,f = split_dataset(x,y,test_ratio=0.2, validation_ratio=0.1)
len(a),len(b),len(c),len(d),len(e),len(f)

(700, 700, 200, 200, 100, 100)

** input random seed **

In [10]:
a,b,c,d = split_dataset(x,y,test_ratio=0.25,seed = 5)

** Also works with pandas input **

In [11]:
a,b,c,d = split_dataset(df,y)

In [12]:
a,b,c,d = split_dataset(df,df[1])