# Label encoder

**To generate dummy variables for categorical data**

In [1]:
import pandas as pd
import numpy as np
import random

from label_encoder import encode

### Dataset

**Random strings for demonstration**

In [2]:
size = 1000

X = []

for i in range(size):
    X.append(chr(random.randint(65,76)))#+chr(random.randint(65,76))+chr(random.randint(65,76)))

X = np.asarray(X)
df = pd.DataFrame(X)

In [3]:
df.head()

   0
0  E
1  D
2  F
3  B
4  D

### Encode unique labels

**pandas DataFrame: encoded variables will be named**

In [4]:
labels = encode(df)
labels.head()

omitting L

   A  B  C  D  E  F  G  H  I  J  K
0  0  0  0  0  1  0  0  0  0  0  0
1  0  0  0  1  0  0  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0  0

By default, omitting the last label<br>
User is notified

**numpy array:**

In [5]:
array = encode(X)
array

omitting L

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

**User can specify encoder not to omit the last variable**

In [6]:
labels = encode(df,False)
labels.head()

   A  B  C  D  E  F  G  H  I  J  K  L
0  0  0  0  0  1  0  0  0  0  0  0  0
1  0  0  0  1  0  0  0  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0  0  0

**Or to omit a specific column by name**

In [7]:
skip_H = encode(df,'H')
skip_H.head()

omitting H

   A  B  C  D  E  F  G  I  J  K  L
0  0  0  0  0  1  0  0  0  0  0  0
1  0  0  0  1  0  0  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0  0

**Or by index**

In [9]:
skip_D = encode(df,3)
skip_D.head()

omitting D

   A  B  C  E  F  G  H  I  J  K  L
0  0  0  0  1  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0  0